@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
    font-size: $fs-14;
    line-height: 1.5;
    font-weight: 400;
    color: $clr-dark;
}

h1,
h2,
h3,
h4,
h5,
h6  {
    color: $clr-black;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: $fs-45;
}

h2 {
    font-size: $fs-30;
}

h3 {
    font-size: $fs-24;
}

h4 {
    font-size: $fs-22;
}

h5 {
    font-size: $fs-18;
}

h6 {
    font-size: $fs-16;
}

a {
    transition: all 0.3s ease-in-out;
    color: $clr-dark;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        color: $clr-primary;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

::selection {
    background-color: $clr-primary;
    color: $clr-white;
}