// fonts variables

$primary-font: 'Poppins', sans-serif;


// font sizes

$fs-45: clamp(30px, 4vw, 45px);
$fs-30: clamp(24px, 4vw, 30px);
$fs-24: clamp(22px, 3vw, 24px);
$fs-22: clamp(18px, 2vw, 22px);
$fs-18: clamp(14px, 3vw, 16px);
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;


// colors variables
$clr-primary: #004185;
$clr-secondary: #F387B8;
$clr-white: #FFFFFF;
$clr-black: #1D1D1D;
$clr-dark: #333333;