@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1D1D1D;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: clamp(30px, 4vw, 45px);
}

h2 {
  font-size: clamp(24px, 4vw, 30px);
}

h3 {
  font-size: clamp(22px, 3vw, 24px);
}

h4 {
  font-size: clamp(18px, 2vw, 22px);
}

h5 {
  font-size: clamp(14px, 3vw, 16px);
}

h6 {
  font-size: 16px;
}

a {
  transition: all 0.3s ease-in-out;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #004185;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

::-moz-selection {
  background-color: #004185;
  color: #FFFFFF;
}

::selection {
  background-color: #004185;
  color: #FFFFFF;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.block {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-title {
  position: relative;
  display: inline-block;
  color: #004185;
  margin-bottom: 30px;
}
.section-title::after {
  content: "";
  background-color: currentColor;
  border-radius: 500px;
  width: 40px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.section-title.center::after {
  left: 50%;
  transform: translateX(-50%);
}

.gap-30 {
  gap: 30px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.text-white {
  color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.fs-12 {
  font-size: 12px;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.mb-50 {
  margin-bottom: 50px;
}

.rg-30 {
  row-gap: 30px;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.site-header {
  background-color: #FFFFFF;
  padding: 20px 0;
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.site-header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header .site-branding img {
  transition: all 0.3s ease-in-out;
}
.site-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 0px 30px rgba(0, 65, 133, 0.1);
}
.site-header.fixed .site-branding img {
  max-width: 100px;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
}

.nav-toggle {
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle span {
  margin: 7px;
  display: block;
  background-color: #333333;
  width: 25px;
  height: 2px;
}

.nav-container {
  overflow: hidden;
  position: fixed;
  inset: 0;
  transition: transform 0.3s ease-in-out;
  background-color: #1D1D1D;
  padding: 60px 30px;
  transform: scaleX(0);
  transform-origin: left;
}
.nav-container > * {
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 0.5s;
}
@media (min-width: 992px) {
  .nav-container > * {
    transform: translateY(0);
    opacity: 1;
  }
}
.nav-container.opened {
  transform: scaleX(1);
  z-index: 99;
}
.nav-container.opened > * {
  transform: translateY(0);
  opacity: 1;
}
.nav-container.closed {
  transform: transform 0.3s ease;
  transition-delay: 0.5s;
}
.nav-container.closed > * {
  opacity: 0;
  transition-delay: unset;
}
.nav-container .menu {
  flex-direction: column;
}
@media (min-width: 992px) {
  .nav-container .menu {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .nav-container {
    background-color: transparent;
    transform: scaleX(1);
    position: unset;
    overflow: visible;
    height: auto;
    display: block;
    padding: 0;
  }
}
.nav-container .mobile-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .nav-container .mobile-set {
    display: none;
  }
}

.menu {
  display: flex;
  gap: 20px;
}
@media (min-width: 992px) {
  .menu {
    gap: 30px;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .menu > li {
    padding: 10px 0;
  }
}
.menu .menu-link {
  font-size: 16px;
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .menu .menu-link {
    color: #1D1D1D;
  }
}
.menu .menu-link:hover {
  color: #004185;
}

.dropdown {
  position: relative;
  padding-right: 15px !important;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .dropdown {
    color: #333333;
  }
}
.dropdown::after {
  content: none;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid currentColor;
  position: absolute;
  top: 35%;
  transform: rotate(-45deg);
  right: 10px;
}
@media (min-width: 992px) {
  .dropdown::after {
    right: 0;
    content: "";
  }
}
@media (min-width: 992px) {
  .dropdown:hover .sub-menu {
    display: block;
  }
}

.sub-menu {
  padding-left: 20px;
  padding-top: 10px;
}
.sub-menu li a {
  font-size: 16px;
  color: #FFFFFF;
}
@media (min-width: 992px) {
  .sub-menu li a {
    color: #333333;
  }
}
.sub-menu li a:hover {
  color: #004185;
}
@media (min-width: 992px) {
  .sub-menu {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 9;
    min-width: 200px;
    top: 100%;
  }
}
.sub-menu > li + li {
  margin-top: 15px;
}

.main-menu {
  height: 400px;
  overflow-y: scroll;
}
@media (min-width: 992px) {
  .main-menu {
    height: auto;
    overflow: unset;
  }
}
.main-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.btn {
  padding: 8px 30px;
  border-radius: 100vmax 100vmax 0px 100vmax;
}
.btn-primary {
  background-color: #004185;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-primary::after {
  content: "";
  width: 100%;
  height: 0;
  background-color: #005ab8;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.btn-primary:hover {
  color: #FFFFFF;
}
.btn-primary:hover::after {
  height: 100%;
}

.underline {
  position: relative;
  display: inline-block;
}
.underline::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.underline:hover::before {
  transform: scaleX(1);
}

.position-card {
  position: relative;
}
.position-card .card-img {
  overflow: hidden;
}
.position-card .card-img,
.position-card .card-img img {
  transition: all 0.3s ease-in-out;
  aspect-ratio: 350/400;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.position-card .card-title {
  margin-bottom: 20px;
  font-size: clamp(18px, 2vw, 22px);
}
.position-card .card-body {
  padding: 30px;
  background-color: #FFFFFF;
  position: absolute;
  inset: 20px;
  top: unset;
}
.position-card .info-list li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.position-card .info-list li + li {
  margin-top: 10px;
}
.position-card:hover .card-img img {
  transform: scale(1.2);
}

.card-title {
  position: relative;
}
.card-title::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
}

.student-card .card-img {
  position: relative;
}
.student-card .card-img::after {
  content: "";
  width: 100%;
  height: 0;
  transition: all 0.6s ease-in-out;
  background: linear-gradient(180deg, rgba(0, 65, 133, 0) 0%, #004185 82.81%);
  position: absolute;
  left: 0;
  bottom: 0;
}
.student-card .card-body {
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  transform: translateY(10px);
  opacity: 0;
}
.student-card:hover .card-img img {
  transform: scale(1);
}
.student-card:hover .card-img::after {
  height: 100%;
}
.student-card:hover .card-body {
  opacity: 1;
  transform: translateY(0);
}

.card .card-date {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}
.card .card-img {
  overflow: hidden;
}
.card .card-img,
.card .card-img img {
  aspect-ratio: 635/350;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.card .card-img:hover img {
  transform: scale(1.2);
}
.card h3 a {
  font-weight: 600;
}
.card .card-description {
  margin-top: 20px;
  margin-bottom: 30px;
}

.blog-card .post-title {
  margin-bottom: 10px;
}
.blog-card .post-title a {
  font-weight: 600;
  color: #004185;
}
.blog-card .post-title a:hover {
  color: #1D1D1D;
}
.blog-card .card-img {
  position: relative;
}
.blog-card .card-img, .blog-card .card-img img {
  aspect-ratio: 350/250;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card .card-img::after {
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
  background: linear-gradient(180deg, rgba(0, 65, 133, 0) 0%, #004185 82.81%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.banner {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .banner {
    padding-top: 116px;
    padding-bottom: 160px;
  }
}
.banner-content {
  background-color: #FFFFFF;
  padding: 30px;
  background-image: url("../img/banner-deco.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media (min-width: 768px) {
  .banner-content {
    padding: 50px;
  }
}
.banner .info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-shape {
  position: absolute;
  bottom: -5px;
  left: 0;
}

.deco {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.testimonial-wrapper {
  padding: 30px;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
  position: relative;
}
@media (min-width: 768px) {
  .testimonial-wrapper {
    padding: 50px;
  }
}
.testimonial-wrapper .testimonial-deco {
  display: none;
  position: absolute;
  top: -100px;
  right: -100px;
}

.slider-wraper {
  overflow: hidden;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(var(--card-count), 100%);
  position: relative;
  left: 0;
  transition: all 1s ease;
}

.testimonial-slider {
  overflow: hidden;
  position: relative;
}

.slider-item {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .slider-item {
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
    text-align: start;
  }
}
.slider-item .student-name {
  margin-bottom: 10px;
}
.slider-item .position {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  display: inline-block;
}
.slider-item .review-content p + p {
  margin-top: 10px;
}
.slider-item .avatar {
  min-width: 200px;
  max-width: 200px;
}
.slider-item .avatar img {
  aspect-ratio: 1;
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-group {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.btn-group .btn-arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.btn-group .btn-arrow:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px rgba(0, 65, 133, 0.4);
}

.site-footer {
  background-color: #004185;
  margin-top: -8px;
  color: #FFFFFF;
}

.top-footer {
  padding-top: 50px;
}

.site-title {
  color: #FFFFFF;
  margin-top: 20px;
}

.tu-wrap {
  margin-top: 20px;
  margin-bottom: 30px;
}

.social-list, .tu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-list .list-icon {
  line-height: 1;
}
.social-list li {
  transition: all 0.3s ease-in-out;
}
.social-list li:hover {
  transform: translateY(-5px);
}

.footer-title {
  color: #FFFFFF;
}

.footer-title + .footer-list {
  margin-top: 30px;
}

.footer-list a {
  color: #FFFFFF;
}
.footer-list li + li {
  margin-top: 10px;
}
.footer-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer-list li {
    justify-content: flex-start;
  }
}

.bottom-footer {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .bottom-footer {
    text-align: start;
  }
}

.copyright .inner {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  font-size: 12px;
}

.about {
  padding-top: 50px;
}
.about .row {
  justify-content: center;
}
@media (min-width: 992px) {
  .about .row {
    justify-content: space-between;
  }
}
.about .info {
  margin-bottom: 30px;
}
.about .info-box {
  width: 130px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 576px) {
  .about .info-box {
    width: 180px;
  }
}
.about .info-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgba(0, 65, 133, 0.2);
}

.info-box {
  padding: 30px;
  aspect-ratio: 1;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
}
.info-box .text {
  font-size: 16px;
  font-weight: 500;
}

.counter-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.counter {
  font-size: clamp(30px, 4vw, 45px);
  font-weight: 700;
  color: #1D1D1D;
  line-height: 1;
}

.box-title {
  position: relative;
  color: #004185;
}
.box-title::after {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  border-radius: 500px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

.box-group {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 130px);
}
@media (min-width: 576px) {
  .box-group {
    grid-template-columns: repeat(2, 180px);
  }
}
@media (min-width: 1200px) {
  .box-group {
    gap: 50px;
  }
}
.box-group .box-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1200px) {
  .box-group .box-wrap {
    gap: 50px;
  }
}
.box-group .box-wrap:nth-child(2) {
  margin-top: 50px;
}

.projects {
  background-color: #004185;
  position: relative;
  margin-top: -8px;
  z-index: 2;
}
.projects .counted-list .underline {
  color: #FFFFFF;
}

.project-bottom {
  position: relative;
  margin-top: -5px;
}

.counted-list {
  counter-reset: css-counter 0;
}
.counted-list li {
  position: relative;
  counter-increment: css-counter 1;
  padding-left: 50px;
  color: #FFFFFF;
}
.counted-list li:not(:last-child) {
  margin-bottom: 20px;
}
.counted-list li::after {
  content: counter(css-counter);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 25px;
  text-align: center;
  font-weight: 700;
  color: #1D1D1D;
}

.project-list h3 {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.calender-item {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .calender-item {
    flex-direction: row;
    align-items: stretch;
  }
}
.calender-item .info-content {
  background-color: #FFFFFF;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
  width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  .calender-item .info-content {
    text-align: start;
  }
}

.calender .row:nth-child(2) {
  row-gap: 24px;
}/*# sourceMappingURL=style.css.map */