.testimonial-wrapper {
    padding: 50px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);

}

.testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial-slider {
    overflow: hidden;
}

.slider-item {
    display: flex;
    gap: 50px;
    min-width: 805px;

    .student-name {
        margin-bottom: 10px;
    }

    .position {
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        display: inline-block;
    }

    .review-content {
        p+p {
            margin-top: 10px;
        }
    }

    .avatar {
        min-width: 200px;
        max-width: 200px;

        img {
            aspect-ratio: 1;
            inline-size: 100%;
            object-fit: cover;
        }
    }
}

.btn-group {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;

    .btn-arrow {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
}