.about {
    padding-top: 50px;

    .row {
        justify-content: center;

        @include lg {
            justify-content: space-between;
        }
    }

    .info {
        margin-bottom: 30px;
    }

    .info-box {
        width: 130px;
        transition: all 0.3s ease-in-out;

        @include sm {
            width: 180px;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 30px rgba($clr-primary, 20%);
         }
    }
}

.info-box {
    padding: 30px;
    aspect-ratio: 1;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);


    .text {
        font-size: $fs-16;
        font-weight: 500;
    }
}

.counter-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
}

.counter {
    font-size: $fs-45;
    font-weight: 700;
    color: $clr-black;
    line-height: 1;
}

.box-title {
    position: relative;
    color: $clr-primary;

    &::after {
        content: '';
        width: 40px;
        height: 3px;
        position: absolute;
        border-radius: 500px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: currentColor;
    }
}

.box-group {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 130px);
    
    @include sm {
        grid-template-columns: repeat(2, 180px);

    }

    

    @include xl {
        gap: 50px;
    }

    .box-wrap {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include xl {
            gap: 50px;
        }

        &:nth-child(2) {
            margin-top: 50px;
        }
    }
}

.projects {
    background-color: $clr-primary;
    position: relative;
    margin-top: -8px;
    z-index: 2;

    .counted-list {
        .underline {
            color: $clr-white;
        }
    }
}
.project-bottom {
    position: relative;
    margin-top: -5px;
}

.counted-list {
    counter-reset: css-counter 0;

    li {
        position: relative;
        counter-increment: css-counter 1;
        padding-left: 50px;
        color: $clr-white;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &::after {
            content: counter(css-counter);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $clr-white;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 25px;
            text-align: center;
            font-weight: 700;
            color: $clr-black;
        }
    }
}

.project-list {
    h3 {
        font-size: $fs-16;
        font-weight: 600;
        color: $clr-white;
        margin-bottom: 10px;
    }
}

.calender-item {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;


    @include sm {
        flex-direction: row;
        align-items: stretch;
    }

    .info-content {
        background-color: $clr-white;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
        width: 100%;
        text-align: center;

        @include sm {
            flex: 1;
            width: auto;
            text-align: start;
        }
    }
}

.calender {
    .row {
        &:nth-child(2) {
            row-gap: 24px;
        }
    }
}

